.Modal {
  z-index: 10000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
  &--isOpen {
    display: flex;
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 500px;    
    max-width: 100%;
    padding: 30px;
    background: white;
    box-shadow: 0 5px 6px -1px #777;
  }

  &-input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #2196f3;
  }

  &-button {
    padding: 10px 40px ;
    margin: 10px 0;

    &--success {
      background: #2196f3;
      margin-right: 10px;
    }

    &--warning {
      background: #ff9800;
    }
  }

  &-buttonContainer {
    display: flex;
    justify-content: flex-end;
  }
}
