.Day {
  margin: 0 50px;
  &--disabled {
    background: #E0E0E0;
    pointer-events: none;
  }
}

.DayBox {
  border: 1px solid #eeeeee;
  flex: 1 0 auto;
  position: relative;
  padding: 10px;
  min-height: 50px;
  cursor: pointer;

  &--booked {
    background: #2196f3;
    pointer-events: none;
  }

  &--disabled {
    background: #E0E0E0;
    pointer-events: none;
  }

  &-slot {
    font-size: 0.74rem;
    position: absolute;
    left: -40px;
    top: -5px;
  }

  &-email {
    font-size: 0.75rem;
  }
}

.DayHeader {
  font-size: 1.2rem;
  text-transform: uppercase;
  background: white;
  padding: 1rem;
}


@media (min-width: 1024px) {
  .Day {    
    margin: 0;
  }
  
  .Day:not(:first-child) {
    .DayBox-slot {
      display: none;
    }
  }
}