.Week {
  display: flex;
  flex-direction: column;
}

.WeekItem {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.WeekSide {
  text-align: right;
  padding: 5px;
}

@media (min-width: 1024px) {
  .Week {    
    flex-direction: row;
    min-height: 600px;
  }
}